// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.echart {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    canvas {
    	display: block;
    }
	}

	.ChartClass {
    padding: 16px 0 0 0;
    height: 170px;

    .label {
    	display: block;
    	padding: 10px 0 0 0;
    }
	}

	.percent {
    position: absolute;
    display: block;
    vertical-align: middle;
    width: 100%;
    line-height: 0px;
    text-align: center;
    height: 100%;
    left: 0px;
    top: 50%;
    font-weight: bold;
    z-index: 2;
    font-family: "Raleway";
    font-size: 20px;

    &:after {
    	content: '';
    color: rgba(44, 13, 13, 0.7);
    font-weight: normal;
    margin-left: 0.1em;
    margin-right: -5px;
    font-size: 9px;
    }
}

.img-height {
    height: 220px !important;
}